*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    list-style-type: none;   
}
a{
    text-decoration: none;
    color: #202020;
}
body{
    display: grid;
    grid-template-rows: 3.5rem 1fr 5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ; 
    min-height: 100vh;
}
header{
    display: flex;
    height: 3.5rem;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    grid-area: header;
    height: 100%;
    font-size: 0.75rem;
    padding-inline: 1rem;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-image{
    width: 2rem;
    margin-right: 0.5rem;
}
nav ul{
    display: flex;
}
.home-btn {
    margin-right: 0.5rem;
}
main{
    grid-area: main;
    display: grid;
    grid-template-rows: minmax(200px,1fr);
    grid-template-areas: 
    "hero"
    "hero"
    "blog1"
    "blog2"
    "blog3"
    "blog4"
    "blog5"
    "blog6";
}
.image-container{
    background-image: url("./images/homepage.png");
    background-size: cover;
    background-position: 50% 80%;
    color: white;
    position: relative;
    overflow: hidden;
    height: 15rem;
    grid-area: hero;
    grid-template-rows: 15rem;
    margin-bottom: 1rem;
}
.image-container::before{
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.6;
    height: 100%;
    width: 100%;
}
.image-container h1{
    font-size: 1.25rem;
}
.hero{
    height: 100%;
}
.hero-text{
    position: absolute;
    bottom: 0%;
    margin: 1rem;
}
.hero-text span{
    font-size: 0.75rem;color: rgb(185, 184, 184);
}
.hero-text p{
    font-size: 0.80rem;

}
.hero-text h1{
    font-size: 1rem;
    font-weight: 700;
}
.blog{
    width: 100%;
    /* height: 100%; */
    padding: 1rem ;
}
.blog h1{
    font-size: 1rem;
    font-weight: bold;
}
.blog p{
    font-weight: 600;
    font-size: 0.75rem;
    color: #505050;
}
.blog span{
    font-size: 0.6rem;
    color: black;
}
.blog img{ 
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center 80%;
    display: block;  
}
.blog1 {
    grid-area: blog1;
}
.blog2 {
    grid-area: blog2;
} 
.blog3 {
    grid-area: blog3;
}
.blog4 {
    grid-area: blog4;
}
.blog5 {
    grid-area: blog5;
    display: none;
}
.blog6 {
    grid-area: blog6;
    display: none;
}
    
.view-more{
    font-size: 0.75rem;
    text-decoration: underline;
    font-weight: 600;
    justify-self: center;
    margin-top: 1rem ;
    margin-bottom: 2rem ;
    margin-top: 1rem;
    margin-bottom: 2rem;
    grid-column: 1 / -1;
}
footer{
    grid-area: footer;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D7D7D7 ;
    font-size: 0.75rem;
    text-align: center;
}
@media (min-width:576px) {
    .blog-container{
        grid-area: blogs;
        display: grid;
        grid-template-rows:repeat(2,minmax(200px, 1fr));
        grid-template-areas: 
        "blog1 blog2"
        "blog3 blog4"
        "blog5 blog6"
        ;
    }
    body{
        grid-template-rows: 4rem 1fr 5rem;
    }
    main{
        grid-template-rows:repeat(2,minmax(200px, 1fr));
        grid-template-areas: 
        "hero hero"
        "hero hero"
        "hero hero"
        "blogs blogs"
        "blogs blogs"
        "blogs blogs";
    }
    
    .image-container{
        height: 100%;
    }
    .home-btn{
        font-size: 1rem;
    }
    .aboutme-btn{
        font-size: 1rem;
    }
    .hero-text{
        padding: 1.5rem;
    }
    .hero-text h1{
        font-size: 1.75rem;
    }
    .hero-text p{
        font-size: 0.8rem;
        width: 75%;
    }
    .hero-text span{
        font-size: 0.8rem;
    }
    .blog{
        justify-self: center;
    }
    .logo-text{
        font-size: 1rem;
     }
     .home-btn{
        margin-right: 1rem;
     }
     header{
        height: 4rem;
     }
}
@media (min-width:992px) {
    .blog-container{
        grid-area: blogs;
        display: grid;
        grid-template-rows:repeat(2, auto);
        grid-template-areas: 
        "blog1 blog2 blog3 blog4" 
        ". blog5 blog6 ."
        ;
    }
    body{
        grid-template-rows: 4.5rem 1fr 5rem;
    }
    main{
        grid-template-rows:25rem auto;
        grid-template-areas: 
        "hero hero hero "
        "blogs blogs blogs";
    }
    /* .image-container{
        height: 75%;
    } */
     
    .image-container h1{
        font-size: 2rem;
    }
    .hero-text{
        padding: 2rem;
    }
    .hero-text p{
        width: 60%;
        font-size: 1rem;
    }
    .blog{
        justify-self: center;
    }
    .logo-text{
        font-size: 1.5rem;
     }
     .home-btn{
        margin-right: 2rem;
     }
    /* .view-more{
        margin-top: 1rem;
    margin-bottom: 2rem;
    grid-column: 1 / -1;
    } */
     header{
        height: 4.5rem;
     }
}